<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632689866596-29edm3fv91i5d2c57msuhrt3ce7cgif3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632689866596-29edm3fv91i5d2c57msuhrt3ce7cgif3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632689866596-fhnd7i0tesu26n4ekqfcvu46mrr1k2ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhalFToUxymdzdOGTsClHwsil3xX2A_WE</string>
	<key>GCM_SENDER_ID</key>
	<string>632689866596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sunrise.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>homepal-ug</string>
	<key>STORAGE_BUCKET</key>
	<string>homepal-ug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632689866596:ios:225aadc1afc5cd49966c71</string>
	<key>DATABASE_URL</key>
	<string>https://homepal-ug-default-rtdb.firebaseio.com</string>
</dict>
</plist>